{% extends 'base.html.twig' %}

{% block head %}
    {{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block homePage %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}
{% block savPage %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}
{% block clientPage %}text-gray-100 bg-gray-700 bg-opacity-25{% endblock %}
{% block articlePage %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}

{% block header %}
    <div class="w-full flex justify-between items-center">
        <div class="flex">
            <h3 class="text-3xl font-medium text-gray-700 font-lexend">Clients</h3>
            <p class="flex items-center font-light text-gray-700 font-lexend mt-1.5">&ensp;({{ totalDisplayed }} sur {{ totalClient }})</p>
        </div>
        <a href="{{ path('app_client_new') }}" class="relative inline-flex items-center justify-center p-[1px] overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-indigo-600 group-hover:bg-indigo-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300">
            <span class="relative flex justify-center items-center px-2 py-1.5 transition-all ease-in duration-75 bg-white text-sm font-lexend rounded-md group-hover:bg-opacity-0">
                <i class="bx bx-plus text-xl mr-1.5"></i>
                Ajouter un client
            </span>
        </a>
    </div>
{% endblock %}

{% block main %}
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
        <div class="container px-6 py-4 mx-auto">
            <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
                <table class="min-w-full">
                    <thead>
                        <tr>
                            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Nom</th>
                            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Numéro de Téléphone</th>
                            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Numéro de Portable</th>
                            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Numéro de Fax</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        {% for client in pagination %}
                            <tr class="group">
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <a href="{{ path('app_client_show', {'id': client.id}) }}" class="text-nowrap text-sm font-semibold font-geist-mono leading-5 text-gray-900 group-hover:underline group-hover:underline-offset-4">{{ client.name }}</a>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    {% if client.phoneNumber %}
                                        <p class="text-sm font-medium leading-5 text-gray-500">{{ client.phoneNumber }}</p>
                                    {% else %}
                                        <i class="bx bx-x text-xl text-gray-500"></i>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    {% if client.mobileNumber %}
                                        <p class="text-sm font-medium leading-5 text-gray-500">{{ client.mobileNumber }}</p>
                                    {% else %}
                                        <i class="bx bx-x text-xl text-gray-500"></i>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    {% if client.faxNumber %}
                                        <p class="text-sm font-medium leading-5 text-gray-500">{{ client.faxNumber }}</p>
                                    {% else %}
                                        <i class="bx bx-x text-xl text-gray-500"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <p class="text-nowrap text-sm font-medium leading-5 text-gray-900">Aucun client...</p>
                            </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="w-full flex justify-center items-center mt-6 mb-7">
                {{ knp_pagination_render(pagination, "components/_custom_pagination.html.twig") }}
            </div>
        </div>
    </main>
{% endblock %}
