{% if pageCount > 1 %}
    <ol class="flex justify-center gap-1 text-xs font-medium">
        {% if first is defined and current != first %}
        <li>
            <a href="{{ path(route, knp_pagination_query(query, first)) }}" class="flex justify-center items-center block size-10 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 text-base">
                <span class="sr-only">First Page</span>
                <i class="bx bx-chevrons-left text-xl"></i>
            </a>
        </li>
        {% endif %}

        {% if previous is defined %}
        <li>
            <a href="{{ path(route, knp_pagination_query(query, previous)) }}" class="flex justify-center items-center block size-10 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 text-base">
                <span class="sr-only">Prev Page</span>
                <i class="bx bx-chevron-left text-xl"></i>
            </a>
        </li>
        {% endif %}

        {% for page in pagesInRange %}
            <li>
            {% if page != current %}
                <li>
                    <a href="{{ path(route, knp_pagination_query(query, page)) }}" class="flex justify-center items-center block size-10 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900 text-base">
                        {{ page }}
                    </a>
                </li>
            {% else %}
                <li class="flex justify-center items-center block size-10 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white text-base">
                    {{ page }}
                </li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
        <li>
            <a href="{{ path(route, knp_pagination_query(query, next)) }}" class="flex justify-center items-center block size-10 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 text-base">
                <span class="sr-only">Next Page</span>
                <i class="bx bx-chevron-right text-xl"></i>
            </a>
        </li>
        {% endif %}

        {% if last is defined and current != last %}
        <li>
            <a href="{{ path(route, knp_pagination_query(query, last)) }}" class="flex justify-center items-center block size-10 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 text-base">
                <span class="sr-only">Last Page</span>
                <i class="bx bx-chevrons-right text-xl"></i>
            </a>
        </li>
        {% endif %}
    </ol>
{% endif %}
