{% extends 'base.html.twig' %}

{% block head %}
    {{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block homePage %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}
{% block savPage %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}
{% block clientPage %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}
{% block articlePage %}text-gray-100 bg-gray-700 bg-opacity-25{% endblock %}

{% block header %}
    <div class="w-full flex justify-between items-center">
        <div class="flex">
            <h3 class="text-3xl font-medium text-gray-700 font-lexend">Articles</h3>
            <p class="flex items-center font-light text-gray-700 font-lexend mt-1.5">&ensp;({{ totalDisplayed }} sur {{ totalArticle }})</p>
        </div>
        <a href="{{ path('app_article_new') }}" class="relative inline-flex items-center justify-center p-[1px] overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-indigo-600 group-hover:bg-indigo-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300">
            <span class="relative flex justify-center items-center px-2 py-1.5 transition-all ease-in duration-75 bg-white text-sm font-lexend rounded-md group-hover:bg-opacity-0">
                <i class="bx bx-plus text-xl mr-1.5"></i>
                Ajouter un article
            </span>
        </a>
    </div>
{% endblock %}

{% block main %}
<main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
    <div class="container px-6 py-4 mx-auto">
        <div class="flex flex-wrap -mx-6">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 lg:grid-cols-3 lg:gap-8 mx-6 my-2">
                {% for article in pagination %}
                    <div class="group/article block overflow-hidden bg-white shadow-sm rounded-md relative">
                    <div class="relative">
                        {% if article.picture != "" %}
                            <img src="{{ asset('uploads/' ~ article.picture) }}" alt="Article {{ article.id }}" class="h-[250px] w-full object-cover sm:h-[350px]" />
                        {% else %}
                            <img src="{{ asset('images/default-image-article.png') }}" alt="Article {{ article.id }}" class="h-[250px] w-full object-cover sm:h-[350px]" />
                        {% endif %}
                            <div x-data="{ dropdownOpen: false }" class="absolute top-2 right-3.5 z-50">
                                <i @click="dropdownOpen = !dropdownOpen" class="bx bx-dots-horizontal-rounded text-2xl text-gray-800 bg-opacity-50 opacity-0 group-hover/article:opacity-100 transition-opacity duration-300 cursor-pointer"></i>
                                <div x-show="dropdownOpen"
                                     @click="dropdownOpen = false"
                                     class="fixed inset-0 dropdown-overlay z-10 w-full h-full"
                                     style="display: none;"></div>
                                <div x-show="dropdownOpen"
                                     class="absolute right-0 z-10 w-48 overflow-hidden bg-white rounded-md shadow-xl"
                                     x-cloak>
                                    <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 group/edit">
                                        <i class="bx bx-edit text-lg text-gray-800 group-hover/edit:text-white mr-3"></i>
                                        <p class="font-lexend text-gray-800 group-hover/edit:text-white">Modifier</p>
                                    </a>
                                    <a href="{{ path('app_article_confirm_delete', {'id': article.id}) }}" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-red-500 hover:text-white group/delete">
                                        <i class="bx bx-trash text-lg text-gray-800 group-hover/delete:text-white mr-3"></i>
                                        <p class="font-lexend text-gray-800 group-hover/delete:text-white">Supprimer</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="flex justify-between items-center">
                                <a href="{{ path('app_article_show', {'id': article.id}) }}">
                                    <h3 class="text-gray-900 font-geist-mono group-hover/article:underline group-hover/article:underline-offset-4 text-lg">{{ article.code }}</h3>
                                </a>
                                <p class="text-gray-900 font-geist-mono font-bold">{{ article.price|number_format(2, '.', '') }}&thinsp;&euro;</p>
                            </div>
                            <p class="mt-1.5 text-justify text-pretty text-xs text-gray-500 font-lexend font-light">{{ article.description }}</p>
                        </div>
                    </div>
                {% else %}
                    <div>
                        <p>no records found</p>
                    </div>
                {% endfor %}
            </div>
            <div class="w-full flex justify-center items-center mt-8 mb-7">
                {{ knp_pagination_render(pagination, "components/_custom_pagination.html.twig") }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
